@{
    ViewData["Title"] = "Ticket List";
}
<h3>@ViewData["Title"]</h3>

<table style="width:100%">
    <tr>
        <th>Ticket #</th>
        <th>Date</th>
        <th>VIN</th>
    </tr>
    <tr>
        <td>12344</td>
        <td>02/01/2020</td>
        <td>MEX47477777YYYG</td>
    </tr>
    <tr>
        <td>52345</td>
        <td>02/01/2021</td>
        <td>MEX467477777YYYG</td>
    </tr>
</table>